# Ignore node modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore directories for production build output
/dist
/build

# Ignore cache files and folders
.cache
.tmp
.DS_Store

# Ignore IDE settings and config files
.vscode/
.idea/
*.swp

# Ignore coverage reports
coverage/
*.lcov

# Ignore lock files
package-lock.json
yarn.lock

# Ignore Docker specific files
docker-compose.yml
docker-compose.override.yml
